---
import Layout from "@layouts/Layout.astro";
import Post from "@components/templates/Post";
import CommentsList from "@components/react-components/CommentsList";
import { getSinglePost } from "~/server/posts";
import { getCurrentUser } from "~/server/misc";
const { post } = Astro.params;
const id = String(post);

const postPage = await getSinglePost(id);
if (!postPage) {
  return Astro.redirect("/404");
}
const result = await getCurrentUser(Astro.request);
if (!result || !result.user) {
  return Astro.redirect("/login");
}
const { username } = result.user;
---

<Layout title={postPage.title}>
  <div class="w-full">
    <div class="w-full bg-base-300 shadow-xl mb-8 p-4 grid">
      {
        postPage && (
          <Post
            username={postPage.user.username}
            id={postPage.id}
            role={postPage.user.permissions.role}
            title={postPage.title}
            content={postPage.content}
            date={postPage.postedDate}
            commentCount={postPage.comments.length}
            currentUser={username}
            onFeed={false}
            client:load
          />
        )
      }
    </div>
    <CommentsList
      onUserPage={false}
      currentUser={username}
      comments={postPage.comments}
      client:load
    />
    <div class="h-48"></div>
  </div>
</Layout>
