---
import fetchJson from "@utils/fetchJson";
import CommentsList from "@components/react-components/CommentsList";
import Userpage from "@layouts/Userpage.astro";
import { GET } from "~/pages/api/users/loggedinuser";
const { user } = Astro.params;

const origin = Astro.url.origin;
const body = {
  username: user,
};
const userPage = await fetchJson(`${origin}/api/users/getuser`, {
  method: "POST",
  body: JSON.stringify(body),
});
if (!userPage?.username) {
  return Astro.redirect("/404");
}
const response = await GET({ ...Astro, ResponseWithEncoding: Response });
if (!(response instanceof Response)) return Astro.redirect("/404");
const data = await response.json();
const currentUser = data.username;
---

<Userpage
  username={userPage.username}
  bio={userPage.description}
  role={userPage.role}
>
  <div class="w-full">
    <CommentsList
      comments={userPage.comments}
      onUserPage={true}
      currentUser={currentUser}
      client:visible
    />
    <div class="h-48"></div>
  </div>
</Userpage>
