---
import CommentsList from "@components/react-components/CommentsList";
import Userpage from "@layouts/Userpage.astro";
import { getCurrentUser, getUserPage } from "~/server/misc";
const { user } = Astro.params;
if (!user) {
  return Astro.redirect("/404");
}
const userPage = await getUserPage(user);
if (!userPage) {
  return Astro.redirect("/404");
}
const result = await getCurrentUser(Astro.request);
if (!result.user) {
  return;
}
const { username } = result.user;
---

<Userpage
  username={userPage.username}
  bio={userPage.description || "No Description"}
  role={userPage.permissions.role}
>
  <div class="w-full">
    <CommentsList
      comments={userPage.comments}
      onUserPage={true}
      currentUser={username}
      client:visible
    />
    <div class="h-48"></div>
  </div>
</Userpage>
