---
import BottomNav from "@components/astro-components/BottomNav.astro";
import Navbar from "@components/astro-components/Navbar.astro";
import SideMenuWrapper from "@components/astro-components/SideMenuWrapper.astro";
import { getCurrentUser } from "~/server/misc";
import BottomNavTransitionWrapper from "@components/blocks/BottomNavTransitionWrapper";
import { ViewTransitions } from "astro:transitions";
import SideMenuTransitionWrapper from "@components/blocks/SideMenuTransitionWrapper";
interface Props {
  title: string;
}

const { user } = await getCurrentUser(Astro.request);
if (!user) {
  return Astro.redirect(`/login`);
}

const { username, role } = user;

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="w-screen h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="fixed w-full h-full bg-base-300">
    <Navbar username={username} role={role} transition:persist />
    <main class="relative z-10 flex flex-row h-full">
      <div
        class="z-40 flex-grow w-full h-full pt-4 ml-2 mr-2 overflow-y-auto lg:mr-0 !overflow-x-clip no-scrollbars"
      >
        <slot />
      </div>
      <SideMenuTransitionWrapper transition:name="side-menu">
        <div
          class="divider-horizontal bg-base-200 overflow-y-clip max-[900px]:hidden"
        >
        </div>
        <div class="flex-grow-0 h-full px-2 w-fit max-[900px]:hidden">
          <SideMenuWrapper username={username} role={role} />
        </div>
      </SideMenuTransitionWrapper>
    </main>
    {
      /*
    Removed the JavaScript hide but kept the component wrapped around the bottom nav,
    as it helps view transitions makethe navbar not fade out and fade back in on every page load.
    */
    }
    <BottomNavTransitionWrapper transition:name="btm">
      <footer class="relative z-50 min-[900px]:hidden">
        <BottomNav username={username} role={role} />
      </footer>
    </BottomNavTransitionWrapper>

    <style is:global>
      .no-scrollbars {
        overflow: auto;
        scrollbar-width: none;
      }

      .no-scrollbars::-webkit-scrollbar {
        display: none;
      }
    </style>
  </body>
</html>
