---
import Navbar from "@components/astro-components/Navbar.astro";
import SideMenuWrapper from "@components/astro-components/SideMenuWrapper.astro";
import { ViewTransitions } from "astro:transitions";
import BottomNav from "@components/astro-components/BottomNav.astro";
import { getCurrentUser } from "~/server/misc";
import BottomNavTransitionWrapper from "@components/blocks/BottomNavTransitionWrapper";
import SideMenuTransitionWrapper from "@components/blocks/SideMenuTransitionWrapper";
interface Props {
  username: string;
  bio: string;
  role: "user" | "admin";
}
const origin = Astro.url.origin;
const url = Astro.url.pathname;
const { username, bio, role } = Astro.props;

const { user } = await getCurrentUser(Astro.request);
if (!user) {
  return Astro.redirect("/login");
}
---

<!doctype html>
<html lang="en" class="w-screen h-screen bg-base-300">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{username}</title>
  </head>
  <body class="fixed w-full h-full bg-base-300">
    <Navbar username={user.username} role={user.role} />
    <div class="flex flex-row w-full h-full no-scrollbars">
      <div class="w-full overflow-y-auto overflow-x-clip no-scrollbars">
        <div
          class="flex flex-col gap-4 p-4 m-2 mb-8 rounded-lg shadow-xl bg-base-100"
        >
          <h1 class="text-2xl font-bold">{username}</h1>
          {role === "admin" && <div class="badge badge-warning">Admin</div>}
          <p class="text-lg">{bio}</p>
        </div>
        <div class="flex justify-center w-full">
          <div
            role="tablist"
            class="w-11/12 mb-8 tabs tabs-boxed"
            transition:animate="fade"
          >
            <a
              data-astro-prefetch
              href={`${origin}/user/${username}/posts`}
              class={url === `/user/${username}/posts`
                ? `tab tab-active !bg-secondary !text-secondary-content`
                : `tab`}
            >
              Posts
            </a>
            <a
              data-astro-prefetch
              href={`${origin}/user/${username}/comments`}
              class={url === `/user/${username}/comments`
                ? `tab tab-active !bg-secondary !text-secondary-content`
                : `tab`}
            >
              Comments
            </a>
          </div>
        </div>
        <main class="z-40 flex-grow w-full h-full px-2 pt-2">
          <slot />
        </main>
      </div>
      <SideMenuTransitionWrapper transition:name="side-menu">
        <div
          class="divider-horizontal bg-base-200 overflow-y-clip max-[900px]:hidden"
        >
        </div>
        <div class="flex-grow-0 h-full px-2 w-fit max-[900px]:hidden">
          <SideMenuWrapper username={user.username} role={user.role} />
        </div>
      </SideMenuTransitionWrapper>
    </div>
    <BottomNavTransitionWrapper transition:name="btm">
      <footer class="relative z-50 min-[900px]:hidden">
        <BottomNav username={user.username} role={user.role} />
      </footer>
    </BottomNavTransitionWrapper>

    <style is:global>
      .no-scrollbars {
        overflow: auto;
        scrollbar-width: none;
      }

      .no-scrollbars::-webkit-scrollbar {
        display: none;
      }
    </style>
  </body>
</html>
