---
import Layout from "@layouts/Layout.astro";
import { getAllUsers } from "~/server/users";

const users = await getAllUsers();
---

<Layout title="Admin">
  <div class="w-full h-full">
    <div class="grid w-full h-full">
      <table class="table table-zebra table-xs h-fit w-11/12 border-b-0">
        <thead>
          <tr class="text-xl text-neutral-50">
            <th>Email</th>
            <th>ID</th>
            <th>Username</th>
            <th>Description</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          {
            users.map((user) => {
              const role = user.permissions.role;

              return (
                <tr class="text-lg">
                  <td>{user.id}</td>
                  <td>{user.email}</td>
                  <td>{user.username}</td>
                  <td>{user.description}</td>
                  <td>{role}</td>
                </tr>
              );
            })
          }
        </tbody>
      </table>
    </div>
  </div>
</Layout>
