---
import Layout from "@layouts/Layout.astro";
import { getAllUsers } from "~/server/users";
import User_AdminPage from "@components/templates/User_AdminPage";

const users = await getAllUsers();
---

<Layout title="Admin">
  <div class="w-full h-full">
    <div class="grid w-full h-full">
      <div class="flex flex-col gap-4">
        {
          users.map((user) => {
            const role = user.permissions.role;

            return (
              <User_AdminPage
                id={user.id}
                email={user.email}
                username={user.username}
                description={user.description}
                role={role}
                client:visible
              />
            );
          })
        }
      </div>
    </div>
  </div>
</Layout>
